.bottomPart {
  background-color: #7ec8cb;
  height: 100%;
}

.bottomPart .msg {
  position: relative;
  top: 25%;
  width: 50%;
  color: #7ec8cb;
  margin-left: 31%;
  font-size: 16.3pt;
  font-weight: bolder;
}

.upperPart {
  background-color: #1d3565;
  color: white;
  height: 32%;
}
.upperPart h1 {
  margin-top: 0px;
}

.balance {
  padding-top: 5%;
}
